.staffLoginTextStyle1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1372a9;
}
.loginBtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.editTextStyle1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1372A9;
	text-decoration: none;
}
.editTextStyle2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
